p{
 background-color: #ffffff;
 color: #1A237E;
 padding: 15px;
 }
ul{
 background-color: #ffffff;
}
li{
 color: #1A237E;
}

#circle
{
 background-color: #4CAF50;
 border-radius: 100%;
}

#small-circle{
 width: 50px;
 height: 50px;
 #circle
}

#big-circle
{
 width: 100px;
 height: 100px;
 #circle
}

#circle(@size: 50px)
{
 background-color: #4CAF50;
 border-radius: 100%;
 width: @size;
 height: @size;
}
#small-circle
{
 #circle
}

#big-circle
{
 #circle(100px)
}

#small-circle 
{
background-color: #4CAF50;
border-radius: 100%;
width: 50px;
height: 50px;
}

#big-circle 
{
background-color: #4CAF50;
border-radius: 100%;
width: 100px;
height: 100px;
}

// lessc style.less style.css