//Element selector:
p {
text-align: center;
color: red;
}
Id selector:
#para1 {
text-align: center;
color: red;
}
Class selector
.center {
text-align: center;
color: red;
}
Grouping
h1, h2, p {
text-align: center;
/* This is a single-line comment */
color: red;
}
div {
text-align: center;
}
